#home
	%form#getLocation
		%fieldset
			%h2 Howdy!
			%p To get started, just click on that handsome purple button, and we'll see if we can't figure out where the heck you are.
			%button{:type => "submit", :id => "get_location"} Get location
#results
	%ul.geoResults
	%form#checkIn
		%fieldset
			%h2 Check in