#home
	#getLocation
		.bubble
			%h2 Howdy!
			%p Welcome to Goto, the great new social thingy for nerds. 
			%p To get started, just click on that handsome purple button.
			%button{:type => "submit", :id => "get_location"} Get location

#results
	%ul.geoResults
	.bubble
		%img.spinner{:src => "images/spinner-big.gif"}
		
		.gotResults
			%p Tap one of these guys to check in somewhere.
			%ul.placeResults

#checkIn
	.bubble
		%p Check in here?
		%form#checkInLocation
			%span.name
			%button{:type => "submit", :id => "check_in"} Check in
		