#home
	#getLocation
		.bubble
			%h2 Howdy!
			%p To get started, just click on that handsome purple button, and we'll see if we can't figure out where the heck you are.
			%button{:type => "submit", :id => "get_location"} Get location

#results
	%ul.geoResults
	.bubble
		%h2 Check in
		%ul.placeResults

#checkIn
	.bubble