!logo_purple = #4e3488

@font-face
	font-family: "ChunkFive"
/	src: url('fonts/ChunkFive/Chunkfive.eot')
/	src: local('ChunkFive Regular')
	src: url('fonts/ChunkFive/Chunkfive.svg#ChunkFive') format('svg')
/	src: url('fonts/ChunkFive/Chunkfive.otf') format('opentype')
/	src: url('fonts/ChunkFive/Chunkfive.woff') format('woff')

*
	:padding 0
	:margin 0

body
	:font-family 'Helvetica Neue', Helvetica, 'Liberation Sans', Arial, sans-serif
	:background-color #8DCCAE
	:color #35283B

h1	
	a
		:color !logo_purple
		:font-size .7em
		:font-family 'ChunkFive'
		:text-decoration none

	span
		:font-size .7em
		:text-transform lowercase

ul
	:list-style-type none

#content

#content, h1, #home
	:-webkit-transition all 250ms ease
	:-webkit-transform translateX(0)

body.shifted
	#content
		:-webkit-transform translateX(-100%)

	#h1
		:-webkit-transform translateX(-50%)

body.shifted.twice
	#content
		:-webkit-transform translateX(-100%)

#home, #results, #checkIn
	:position absolute
	:top 1em

#results
	:left 100%

#checkIn
	:left 200%
		
button
	:color #35283B
	:font-family "Helvetica Neue", Helvetica, sans-serif
	:font-size 1.3em
	:font-weight bold
	:width 70%
	:height 50px
	:border 3px solid #4e3488
	:background -webkit-gradient( linear, left top, left bottom, from(#BF91D4), to(#A34ECC), color-stop(0.5, #BF91D4), color-stop(0.5, #BF91D4) )
	:margin 1em 0 3px 0
	:text-shadow 0px 1px 0 #cecece
	:-webkit-background-origin padding-box
	:-webkit-background-clip border-box
	:-webkit-border-radius 16px
	
.bubble
	:background-color #CDFFCA
	:border 6px solid #3C996C
	:clear both
	:margin 0 .5em
	:padding 1em
	:text-align center
	:-webkit-border-radius 16px
	:width 260px
	
p
	:text-align justify

.geoResults
	:color #666
	:display none
	:font-size .8em
	:padding 0 .5em .5em .5em	
	:text-align center
	
	li
		:float left
		:width 11em

.placeResults
	:background-color #BF91D4
	:border 2px solid #A34ECC
	:-webkit-border-radius 16px 
	
	li
		:border-bottom 1px solid #A34ECC
		:padding .2em 0

	li:first-child
		:-webkit-border-top-left-radius 16px
		:-webkit-border-top-right-radius 16px

	li:last-child
		:-webkit-border-bottom-left-radius 16px
		:-webkit-border-bottom-right-radius 16px
		
	span
		:display block
		:font-size .5em
		
@media handheld, only screen and (max-device-width: 480px)
